{% extends "base.html" %}
{% block title %}水果电商{% endblock %}
{% block content %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" align="center">
                        <h3>欢迎光临欧尔麦特水果店</h3>
                        {% if user.is_authenticated %}
                            <p>Welcome! {{ user.username }}</p>
                        {% else %}
                            <p>请登录</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-default">
                目前是第{{ products.number }}页
            </button>
            {% if products.has_previous %}
                <button class="btn btn-info">
                    <a href="?p={{ products.previous_page_number }}">上一页</a>
                </button>
            {% endif %}
            {% if products.has_next %}
                <button class="btn btn-info">
                    <a href="?p={{ products.next_page_number }}">下一页</a>
                </button>
            {% endif %}
        </div>

        <br/>

            {% for product in products %}
            {% cycle '<div class="row">' '' '' '' %}
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="{{ product.image }}" width="200">
                </div>
                <div class="text-center">
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.price }}</p>
                    <p>{{ product.description }}</p>
                    <form  method="post" action="/add_cart/">
                        <input type="hidden" name="item" value="{{ product.name }}">
                        <button type="submit" class="btn btn-info">加入购物车</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
            {% cycle '' '' '' '</div>' %}
            {% endfor %}

{% endblock %}