{% extends "base.html" %}

{% block title %}订单-水果电商{% endblock %}

{% block content %}
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>商品名</th>
                <th>数量</th>
                <th>单价</th>
                <th>总金额</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.item }}</td>
                    <td>{{ item.num }}</td>
                    <td>{{ item.price }}</td>
                    <td>{% widthratio item.num 1 item.price %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="text-center">
                <h4 class="alert alert-info">订单总金额: <strong>{{ total }}</strong></h4>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <form class="form-horizontal" method="post" action="/add_order/">
                <div class="form-group">
                    <label for="name">收货人姓名</label>
                    <input id="name" name="name" class="form-control" placeholder="请输入姓名">
                </div>
                <div class="form-group">
                    <label for="location">收货人地址</label>
                    <input id="location" name="location" class="form-control" placeholder="请输入地址">
                </div>
                <div class="form-group">
                    <label for="phone">收货人电话</label>
                    <input id="phone" name="phone" class="form-control" placeholder="请输入电话">
                </div>
                <input type="hidden" name="username" value="{{ username }}">
                <div class="pull-right">
                    <button class="btn btn-success" type="submit">我已完成支付</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}
